.p1{
    font-size: 22px;
    font-weight: bold;
    line-height: 52px;
}

td:nth-of-type(1){
    display: inline-block;
    width: 100px;
    height: 40px;
    color:#5D5F62;
    padding-left: 20px;
    padding-top: 10px;

}
tr:nth-child(2) td input{
    display:none;
}
.tdd{
    display: inline-block;
    width: 100px;
    height: 32px;
}
.tdd>#id_author{
    outline: none;
    width: 90px;
    border: 2px groove #e9e9e9;
    border-radius: 10px;
    padding: 2px;
}
.tdd>input,select{
    margin-top:6px;
    outline: none;
}
#id_digest{
    width:303px;
}
tr:nth-child(2) td label{
    display: inline-block;
    width: 74px;
    height: 32px;
    border:1px solid #E9E9E9;
    color: #333333;
    text-align: center;
    line-height: 32px;
}

tr:nth-child(2) td .active{
    background: #FFFFFF;
    border: 1px solid #1992EF;
    border-radius: 4px;
    color:#1992EF;
}

input{
    background: #F9FAFD;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
}
tr:last-child{
    display: block;
    width: 80px;

}
