{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />

<link rel="stylesheet" type="text/css" href="{% static 'h-ui/css/H-ui.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/css/H-ui.admin.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/Hui-iconfont/1.0.8/iconfont.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/skin/default/skin.css' %}" id="skin" />
<link rel="stylesheet" type="text/css" href="{% static 'h-ui.admin/css/style.css' %}" />


<title>留言</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 联系管理<span class="c-gray en">&gt;</span> 留言联系 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <form action="{% url 'adminmywork:connect' %}" method="post">
        {% csrf_token %}
        <div class="text-c"> 日期范围：
		<input type="text" onfocus="WdatePicker({ maxDate:'#F{$dp.$D(\'logmax\')||\'%y-%M-%d\'}' })" id="logmin" class="input-text Wdate" style="width:120px;border-radius: 15px" name="startdate" value="{{ start_date }}">
                -
            <input type="text" onfocus="WdatePicker({ minDate:'#F{$dp.$D(\'logmin\')}',maxDate:'%y-%M-%d' })" id="logmax" class="input-text Wdate" style="width:120px;border-radius: 15px" name="enddate" value="{{ end_date }}">
		<input type="text" class="input-text" style="width:160px; border-radius: 15px" placeholder="用户名,id" id="" name="name">
        <input type="hidden" name="search" value="true">
        <button type="submit" class="btn btn-primary radius" style="border-radius: 15px;"><i class="Hui-iconfont">&#xe665;</i> 检索留言</button>
	</div>
    </form>

	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a> </span> <span class="r">共有数据：<strong>{{ connect_count }}</strong> 条</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-hover table-bg table-sort">
			<thead>
				<tr class="text-c">
					<th width="25"><input type="checkbox" name="" value=""></th>
					<th width="60">ID</th>
					<th width="60">用户名</th>
					<th>留言内容</th>
					<th width="100">操作</th>
				</tr>
			</thead>
			<tbody>
            {% for connect in connects %}
                <tr class="text-c">
					<td><input type="checkbox" value="{{ connect.id }}" name=""></td>
					<td>{{ connect.id }}</td>
					<td  style="cursor:pointer" ><a href="javascript:;" onclick="member_show('{{ connect.name }}','{% url 'adminmywork:connect_show' %}?cid={{ connect.id }}','{{ connect.name_id }}','360','400')">{{ connect.name }}</a>
                    </td>
					<td class="text-l"><div class="c-999 f-12">
							<u class="text-primary">{{ connect.name }}</u>
                            <time datetime="">{{ connect.pu_date }}</time>
                            <span class="ml-20">{{ connect.phone }}</span>
                            <span class="ml-10">{{ connect.QQ }}</span>
                    </div>
						<div>{{ connect.message|truncatechars:200 }}</div>
                    </td>
					<td class="td-manage"><a title="删除" href="javascript:;" onclick="member_del(this,'{{ connect.id }}')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
				</tr>
            {% endfor %}
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript" src="{% static 'lib/jquery/1.9.1/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/layer/2.4/layer.js' %}"></script>
<script type="text/javascript" src="{% static 'h-ui/js/H-ui.js' %}"></script>
<script type="text/javascript" src="{% static 'h-ui.admin/js/H-ui.admin.js' %}"></script>


<script type="text/javascript" src="{% static 'lib/My97DatePicker/4.8/WdatePicker.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/datatables/1.10.0/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/laypage/1.2/laypage.js' %}"></script>
<script type="text/javascript">
$(function(){
	$('.table-sort').dataTable({
		"aaSorting": [[ 1, "desc" ]],//默认第几个排序
		"bStateSave": true,//状态保存
		"aoColumnDefs": [
		  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
		  {"orderable":false,"aTargets":[0,2,4]}// 制定列不参与排序
		]
	});

});

/*用户-查看*/
function member_show(title,url,id,w,h){
	layer_show(title,url,w,h);
}


/*用户-删除*/
function member_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		$.ajax({
			type: 'get',
			url: '{% url 'adminmywork:connect_del' %}?cid='+id,
			dataType: 'json',
			success: function(data){
				$(obj).parents("tr").remove();
				layer.msg('已删除!',{icon:1,time:1000});
				setTimeout(function () {
                    location.reload();
                },1000);
			},
			error:function(data) {
				console.log(data.msg);
			},
		});
	});
}
/*---------批量删除------------*/
function datadel(obj,id) {
    layer.confirm('确认要删除吗？',function(index){
        var id_str = "";
        $("tbody input:checked").each(function (i,e) {
            id_str += $(e).val()+',';
        });
        $.ajax({
            type:'get',
            url:'{% url 'adminmywork:connect_alldel' %}?cid='+id_str,
            success:function (data) {
                if (data.status==1){
                    $('tbody input:checked').parents('tr').remove();
                    layer.msg(data.msg,{icon:1,time:1000}, function () {
                        location.reload();
                    });
                }
                else {
                    layer.msg(data.msg,{icon:6,time:1000});
                }
            }
        });
    });
}
</script>
</body>
</html>